<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
名前<%= @teacher.name %>
<div class="">
  <p><b>評価</b><%= @average %></p>
</div>
<div class="">

  <h2>コメント</h2>
  <% @microposts.each do |micropost| %>
     <p><%= micropost.content %></p>
  <% end %>
</div>
